.fav{
    display: flex;
    justify-content: space-around;
}
.card_study_f{
    color: var(--color-texto);
    width: 600px;
    margin: 120px 20px !important;
    position: relative;
}
.info_study p{
    text-align:justify;
    margin: 10px 30px;
}
.catch{
    display: flex;
    justify-content: center;
    box-shadow: none;
    border: none;
    background-color: none;
}
.circle{
    height: 10px;
    width: 10px;
    background-color: var(--color-primario);
    border-radius: 50%;
    margin: 7px 2px;
}
.title_study_f{
    margin: 20px 20px;
}
.info_study{
    margin: 5px 20px;
}
.text_study_f{
    text-align: left;
    margin: 5px 40px;
}
.columns{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}
.text_study_right p{
    text-align: right;
    margin: 5px 35px;
}
.text_study_left p{
    text-align: left;
    margin: 5px 40px;
}
.voltear{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
}
.arrow{
    fill: var(--color-texto)
}
.voltear:hover{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--color-primario));
}
.voltear:hover .arrow{
    fill: var(--color-acento)
}

/* voltear */
.flip-container {
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.flipped .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
            height: 700px;
  width: 100%;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}
